@CHARSET "utf-8";

div {
	background-color: aqua;
	width: 500px;
	height: 300px;
}

h1 {
	width: 300px;
	background-color: white;
	height: 300px;
	border: 1px solid black;
}

.para1 {
	width: 400px;
	background-color: red;
	padding: 60px;
	border: 5px solid orange;
}